.header {
    color: #ffffff;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    margin-top: 5%;
    
    

}

body {
    margin: 1%;
    background-color: #674b7c;
    color: #f47362;
    font-family: 'Judson' serif;
}


.table {
    margin-top: 40px;
    margin-right: 5%;
    margin-bottom: 2%;
    color: #ffffff;
}

h3 {
    color: #f47362;
}

#highPriority {
    background-color: rgb(255, 0, 0, 0.6);
}

#mediumPriority {
    background-color: rgb(255, 69, 0, 0.6);
}

#lowPriority {
    background-color: rgb(255, 215, 0, 0.6);
}